@{
  Layout = "_Layout";
}

<div class="well">
  <h2> Restaurant: @Model["restaurant"].GetName()</h2>
  <h3> Cuisine: @Model["cuisine"].GetName()</h3>
</div>
@if (@Model["reviews"].Count == 0)
{
  <h3>No reviews yet</h3>
}
else
{
<h3>Reviews:</h3>
  @foreach(var review in @Model["reviews"])
  {
  <div class="panel panel-default">
    <div class="panel-heading">@review.GetRating() @review.GetTitle()</div>
    <div class="panel-body">@review.GetContent()</div>
  </div>
  }
}
